/* Color variables*/
:root {
    --nav-background: #333333;
    --footer-background: #111111;
    --navlink-color: #FFFFFF;
    --navlink-hover-background: #dddddd;
    --navlink-hover-color: #000000;
    --upload-button: #ee7600;
    --upload-button-hover: #288700;
    --upload-button-text: #abea0d;
    --upload-button-text-active: #EACE09;
    --success-color: #4bb543;
    --error-color: #ff0033;
    --default-message-color: #CCCCCC;
}



/* Navbar and nav elements*/
nav {
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--nav-background);
}

nav a {
    float: left;
    display: block;
    color: var(--navlink-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--navlink-hover-background);
    color: var(--navlink-hover-color);
}
/* CID that is displayed in the right corner*/
nav div.right {
    float: right;
    display: block;
    color: var(--navlink-color);
    text-align: center;
    padding: 14px 20px;
    font-style: italic;
}


/* Styles for the Display area*/
#display {
    display: none;
}

.display {
    position: absolute;
    top: 48%;
    left: 50%;
    max-width: 90%;
    max-height: 80%;
    z-index: -1;
    transform: translate(-50%, -50%);
}


/* Upload area styles*/
#upload {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%, -50%);
}

#uploadButton, #submitButton {
    background-color: var(--nav-background);
    color: var(--navlink-color);
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

#uploadButton:hover, #submitButton:hover {
    background-color: var(--navlink-hover-background);
    color: var(--navlink-hover-color);
}

#submitButton:disabled {
    background-color: var(--navlink-hover-background);
    color: var(--upload-button-text);
}


/* Messages that will appear after form submit*/
#afterSubmit {
    visibility: hidden;
    font-style: italic;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: var(--default-message-color);
}

#responseMessage {
    visibility: hidden;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.success {
    background-color: var(--success-color);
}

.error {
    background-color: var(--error-color);
}

.visible {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


/* The Footer*/
footer {
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: var(--footer-background);
    color: var(--navlink-color);
}